alembic==1.5.8
appdirs==1.4.4
asgiref==3.3.4
bcrypt==3.2.0
botocore==1.18.2
Brotli==1.0.9
certifi==2019.3.9
cffi==1.14.5
chardet==3.0.4
click==7.1.2
confusable-homoglyphs==3.2.0
cryptography==3.4.6
cycler==0.10.0
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.2
django-allauth==0.44.0
django-bootstrap3==10.0.1
django-braces==1.14.0
django-cors-headers==3.7.0
django-cors-middleware==1.5.0
django-countries==7.1
django-crispy-forms==1.11.2
django-debug==0.1.1
django-debug-toolbar==3.2
django-geojson==3.1.0
django-google-maps==0.12.4
django-heroku==0.3.1
django-location-field==2.1.0
django-oauth-toolkit==1.5.0
django-phone-field==1.8.1
django-phonenumber-field==5.0.0
django-phonenumbers==1.0.1
django-pyscss==2.0.2
django-registration==2.4.1
django-rest-framework-social-oauth2==1.1.0
django-utils-six==2.0
django-widget-tweaks==1.4.8
django-wkhtmltopdf==3.3.0
djangorestframework==3.12.4
env==0.1.0
filelock==3.0.12
Flask==1.1.2
Flask-Migrate==2.7.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
geographiclib==1.50
geopy==1.17.0
googlemaps==3.0.2
greenlet==1.0.0
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
jwcrypto==0.8
kiwisolver==1.3.1
leaflet==0.0.3
Mako==1.1.4
MarkupSafe==1.1.1
matplotlib==3.4.1
mysql==0.0.2
mysqlclient==2.0.3
numpy==1.20.2
oauth2-provider==0.0
oauthlib==3.1.0
pbr==5.5.1
phonenumbers==8.12.18
Pillow==8.2.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycodestyle==2.5.0
pycparser==2.20
PyJWT==2.0.1
PyMySQL==1.0.2
pyparsing==2.4.7
pyScss==1.3.7
python-dateutil==2.8.1
python-decouple==3.1
python-editor==1.0.4
python3-openid==3.2.0
pytz==2020.1
pyuploadcare==2.7.0
requests==2.21.0
requests-oauthlib==1.3.0
rjsmin==1.1.0
s3transfer==0.3.3
six==1.15.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
SQLAlchemy==1.4.5
sqlparse==0.3.1
stevedore==3.3.0
stripe==2.49.0
urllib3==1.24.2
virtualenv==20.2.2
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
Werkzeug==1.0.1
whitenoise==5.2.0
wkhtmltopdf==0.2
