{%	load static	%}
<link	href="{% static	'/css/base.css' %}"	rel="stylesheet">
<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8"/>
		<title>{%	block	title	%}My	shop{%	endblock	%}</title>
		
</head>
<body>
		<div id="header">
				<h1 class="logo">My	shop</h1>
		</div>
				<div class="cart">
                    {%	with	total_items=cart|length	%}
                    {%	if	cart|length	>	0	%}
                            Your	cart:	
                            <a	href="{%	url	'cart:cart_detail'	%}">
                                    {{	total_items	}}	item{{	total_items|pluralize	}}
                                   
                            </a>
                    {%	else	%}
                            Your	cart	is	empty.
                    {%	endif	%}
            {%	endwith	%}
				</div>
		<div id="content">
				{%	block	content	%}
				{%	endblock	%}
		</div>
</body>
</html>